.all_products{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin-left:15rem;
  }
  
  .all_products .product{
      width:27rem;
      height:39rem;
      background-color:var(--white);
      margin:1rem;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 var(--shadowcolor);
      border-radius:8px;
      position: relative;
    }
    .addwishlist{
      position:absolute;
      background-color:var(--white);
      border-radius:50%;
      top:1rem;
      right:1rem;
      text-align:center;
      padding:0.6rem 0.7rem;
      color:var(--pink);
    }
    .fill_heart{
      font-size:2.2rem;
    }
    .product_name{
      width:20rem;
      height:4rem;
      text-align:left;
      margin-left:2rem;
      margin-top:1rem;
      font-size:2rem;
    }
    .product_name h3{
      font-size:0.8em;
    }
    .product_image{
      max-inline-size:100%;
      block-size:auto;
      height:18rem;
      width:100%;
      border-radius:8px 8px 0 0;
    }
    .price{
      font-size:2rem;
      color:var(--black);
      text-align:left;
      margin-top:1rem;
      margin-left:2rem;
    }
    .price h5{
      font-size:1em;
    }
    .price s{
      color:var(--gray);
      margin-right:8px;
    }
    .product_badge{
      background-color:var(--primarycolor);
      position:absolute;
      top:5px;
      left:5px;
      text-align:center;
      font-size:1.6rem;
      color:var(--white);
      padding:5px 10px;
      font-family: 'Poppins', sans-serif;
      font-weight:600;
    }
    .buy_btn{
     display:flex;
     justify-content:center;
     align-items:center;
     flex-direction:column;
    }
    .buy_btn button{
      background-color:var(--white);
      border:2px solid var(--primarycolor);
      width:90%;
      height:3.5rem;
      border-radius:5px;
      color:var(--primarycolor);
      font-weight:900;
      cursor: pointer;
      margin:5px;
      font-size:1.6rem;
    }
    .buy_btn button:hover{
      background-color:var(--primarycolor);
      color:var(--white);
    }
    .ratings{
      display:flex;
      margin:1rem 2rem;
      font-size:1.5rem;
    }
    .ratingbox{
      border:none;
      border-radius:5px;
      background-color:var(--light-yellow);
      width:6rem;
      height:3rem;
      color:var(--white);
      text-align:center;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .ratings .half_star{
      color:var(--yellow);
    }
    .ratings .star_fill{
      color:var(--yellow);
    }
    .ratings .star{
      color:var(--gray);
    }
  
    .wishlist_page h3{
      text-align:center;
      font-size:2.3rem;
    }
    .whilist_products{
      display:flex;
      justify-content: center;
      align-items:center;
      flex-wrap:wrap;
    }

  @media only screen and (max-width: 600px) {
    .filter{
      flex-direction:row;
    }
    .category_filter{
      margin:1.5rem;
    }
    .all_products{
     margin:1rem;
    }
    .filter{
      position:static;
    }
  }